**/secret
*.secret

bin
include
lib
lib64
src
tmp

*.log
.snap

.DS_*
.Trash*
.fseventsd
.Spotlight-V100
.DocumentRevisions-V100
.Temp*
.Trash*
.*.swo
*.swp
.*_checkpoints

# Library Files
__pycache__/
*.py[cod]
*.so
.Python

